.site-nav {
    
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

img{
    display: block;
}

.logo {
    color: #2196F3;
}
.logo-header {
    color: #000000;
}

body{
    font-family: 'Roboto', sans-serif;
}

.logo, .logo-header {
font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.92;
    letter-spacing: 0.03em;
}
.site-nav{
font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
      
}
.site-nav-menu{
    color: #212121;
}

.site-nav:hover,
.site-nav:focus,
.site-nav-menu:hover,
.site-nav-menu:focus{
    color:#2196F3 ;
}

.contacts-nav-mail{
font-family: 'Roboto', sans-serif;
       font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        
    
}
.contacts-nav-number{
font-family: 'Roboto', sans-serif;
     font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.contacts-nav:hover,
.contacts-nav:focus,
.contacts-nav-number:hover,
.contacts-nav-number:focus{
    color: #2196F3;
}
.main{
    background: #2F303A;
}
.main-tittle{
font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
     

    
.model-open-button{
font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

    .model-open-button:hover,
.model-open-button:focus {
color: #2196F3;cursor: pointer;
}

.subtitle{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}

.subtitle-text{
    font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71px;
      letter-spacing: 0.03em;
    color: #757575;
}

.caption-work{
    font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;

        color: #212121;
}

.teams{
font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    color: #212121;
}

.teams-people{
font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: #212121;
}

.people-desk{
font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

.page-footer{
    background: #2F303A;
}

.block-maps{
    font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.block-mail{
font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.block-number{
font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.block-maps:hover,
.block-maps:focus,
.block-mail:hover,
.block-mail:focus,
.block-number:hover,
.block-number:focus
 {
    color: #2196F3;
}